.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
    div.fieldWrapper {
      display: flex;
      width: 48%;
      border-radius: 5px;
      border: 1px solid var(--color_primary);
      height: 36px;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
      &:first-of-type {
        width: 100%;
      }
      &:last-of-type {
        flex-direction: column;
      }
      input {
        width: 100%;
        background-color: transparent;
        border: none;
        &:focus-visible {
          outline: none;
        }
      }
      i {
        position: relative;
        padding-right: 5px;
      }
      >div {
        width: 100%;
        padding-left: 5px;
        &:first-of-type {
          width: 95%;
        }
      }
      span {
        display: inline-block;      
        color: #e5424d;
        font-size: 14px;
        align-self: flex-start;
      }
    }
    input {
      width: 48%;
      border-radius: 5px;
      color: #3486cd;
      font-size: 16px;      
      height: 36px;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
      &::placeholder {
        color: var(--color_text_input_hints);
        font-size: 16px;
      }
    }
  }
  