.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0;

  div.fieldWrapper {
    margin-top: 15px;

    &:first-of-type {
      width: 100%;
    }
  }

  div.inputWrapper {
    display: flex;
    border-radius: 5px;
    border: 1px solid var(--color_input_border_color);
    background-color: var(--color_input_background_color);
    height: 44.4px;    
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02);

    input {
      width: 100%;
      color: var(--color_input_text_color);
      background-color: var(--color_input_background_color);
      border: none;
      padding: 0;
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::placeholder {
        color: var(--color_text_input_hints);
        font-size: 16px;
      }

      &:focus-visible {
        outline: none;
      }
    }

    i {
      position: relative;
    }

    > div {
      width: 100%;

      &:first-of-type {
        width: 95%;
      }
    }
  }

  div.fieldError {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #e5424d;
    font-size: 14px;
    line-height: 1.5;

    &::before {
      font-family: FontAwesome;
      content: '\f071';
      margin-right: 5px;
    }
  }
}
