.passwordlessWrapper {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .codeSent {
    background-color: #a5dc86;
    font-size: 16px;
    color: var(--color_text_dark);
    text-align: center;
    width: 215px;
    position: absolute;
    top: 50px;
    left: calc(50% + 110px);
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
  }

  .innerWrapper {
    text-align: center;
    font-weight: bold;
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .logo {
      width: 175px;
      align-self: center;
      &.logoDark {
        display: none;
      }
    }
    .digits {
      margin-top: 15px;
      display: inline-block;
    }
    .codeInput {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      input {
        height: 56px;
        width: 56px;
        font-size: 42px;
        color: var(--color_input_text_color);
        background-color: var(--color_input_background_color);
        border: 1px solid var(--color_input_border_color);
        border-radius: 5px;
        padding: 5px;
        display: inline-flex;
        text-transform: uppercase;
        text-align: center;
        margin: 0 5px;
      }
    }
    .error {
      margin-top: 10px;
      color: #e5424d;
      font-size: 14px;
    }
    .verify {
      margin-top: 20px;
      .button {
        padding: 10px 30px;
        font-weight: normal;
        justify-content: center;
        margin: 5px 0;
        border-radius: 5px;
        cursor: pointer;
        color: var(--color_input_text_color);
        background-color: var(--color_input_background_color);
        border: 1px solid var(--color_input_border_color);
        width: 100%;
        font-size: 1em;
      }
      .link {
        color: var(--color_text_dark);
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .resend {
    margin: auto 0 0 0;
    font-weight: normal;
    font-size: 14px;
    span {
      color: var(--color_text_dark);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

html[data-theme="DARK"] {
  .logoLight {
    display: none;
  }
  .logoDark {
    display: block !important;
  }
}

html[data-theme="LIGHT"] {
  .logoDark {
    display: none;
  }
  .logoLight {
    display: block !important;
  }
}
