:root {
  --color_primary: lightgray;
  --color_primary50: lightgray;
  --color_primary_contrast: #fff;
  --color_primary_contrast50: #ffffff50;
  --color_secondary: lightgray;
  --color_secondary_contrast: lightgray;
  --color_text_dark: #212121;
  --color_text_light: #ffffff;
  --color_text_input_hints: #212121;
}

$header_lblue_color: #d4e5f4; // #d4e5f4;
$font_blue_1: #297fca; // #297fca;
$font_blue_2: #3486cd; // #3486cd;
$lblue_color_1: #e6f3ff; // #e6f3ff;
$lblue_color_2: #3fa2f7; // #3fa2f7;
$lblue_color_3: #b3f5ff; // #b3f5ff;
