#modal {
  padding: 100px 0;
}

.outerWrapper {
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
}

.innerWrapper {
  padding: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
  margin: 0px -10px;
  padding: 0px 15px 5px;
  i {
    cursor: pointer;
    margin-left: auto;
  }
  span {
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: var(--color_primary);
  }
}
