@import './colors.scss';

.step-wrapper {
  padding: 10px;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.summit-registration-lite {
  color: var(--color_text_dark);
  font-size: 15px;

  // Font smoothing is deprecated, so let's disable it.
  // This also helps w/ consistent font rendering between our app and the Stripe elements.
  font-smooth: unset !important;
  -moz-osx-font-smoothing: none !important;
  -webkit-font-smoothing: auto !important;
}

input {
  outline: none;
}
