.step-wrapper {
  padding: 10px;
  margin: 10px;
  border: 1px solid var(--color_input_border_color);
  border-radius: 5px;
}

.summit-registration-lite {
  color: var(--color_text_dark);
  font-size: 15px;

  // Font smoothing is deprecated, so let's disable it.
  // This also helps w/ consistent font rendering between our app and the Stripe elements.
  font-smooth: auto !important;
  -moz-osx-font-smoothing: auto !important;
  -webkit-font-smoothing: auto !important;

  input:-moz-placeholder,
  input::-moz-placeholder {
    opacity: 1;
  }
}

input {
  outline: none;
}

.registration_company_dll {
  .registration_company_dll_prefix__control {
    border: 1px solid var(--color_primary) !important;
    border-radius: 5px !important;;
  }
}
