@import "./colors.scss";

.step-wrapper {
  padding: 10px;
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.summit-registration-lite {
  color: var(--color_text_dark);
  font-size: 15px;
}

input {
  outline: none;
}