.wrapper {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    padding: 15px 0;
    border-radius: 5px;
    border: 1px solid lightgray;
    text-align: center;
    .circle {
      margin-bottom: 30px;
      background-color: var(--color_primary50);
      border-radius: 50px;
      border: 1px solid var(--color_primary);
      padding: 10px;
      i {
        font-size: 36px;
        color: var(--color_primary);
      }
    }
    .complete {
      font-weight: bold;
      font-size: 20px;
    }
    a {
      color: var(--color_primary);
      text-decoration: underline;
    }
  }
  