.title {
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.summary {
  text-align: right;
}

.promoCode {
  display: inline-flex;
  abbr {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 10ch;
  }
}

.crossOut {
  text-decoration: line-through;
}

.discount {
  color: red;
}

.promocodeError {
  margin-top: 10px;
  color: red;
  &::before {
    font-family: FontAwesome;
    content: '\f071';
    margin-right: 5px;
  }
}

.appliedDiscount {
  margin-top: 10px;
  p::before {
    font-family: FontAwesome;
    content: '\f058';
    margin-right: 5px;
  }
  li {
    list-style: disc;
    margin: 5px 0px 0px 20px;
  }
}

.taxes {
  display: inline-flex;
  abbr {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 15ch;
  }
}

.promo {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

.form {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.dropdown {
  flex: 1 1 auto;
}

.quantity {
  flex-shrink: 0;

  input,
  button {
    height: 36px;
    text-align: center;
    border: 1px solid var(--color_input_border_color);
    // color: var(--color_input_text_color);
    // background-color: var(--color_input_background_color);
  }

  input {
    padding: 0 8px;
    width: 48px !important;

    &,
    &:read-only {
      border: 1px solid var(--color_input_border_color);
      color: var(--color_input_text_color);
      background-color: var(--color_input_background_color);
    }
  }

  button {
    display: flex;
    align-items: center;

    &:disabled {
      &,
      &:hover {
        opacity: 0.65;
        background: #dedede;
        border-color: #bebebe;
      }
    }
  }
}

.soldOut {
  height: 36px;
  padding: 0 16px;
  line-height: 34px;
  font-weight: 700px;
  background: #dedede;
  border: solid 1px #bebebe;
  border-radius: 5px;
  opacity: 0.65;
  font-weight: 700;
  flex-shrink: 0;
}

.moreInfo {
  display: inline-block;
  margin-top: 10px;
}

.moreInfoTooltip {
  max-width: 280px;
}

.inPersonDisclaimer {
  margin-top: 15px;
  padding-right: 10px;
  max-height: 150px;
  overflow-y: auto;
}
