.title {
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.crossOut {
  text-decoration: line-through;
}

.discount {
  color: green;
}

.promo {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

.dropdown {
  margin-top: 5px;
}

.inPersonDisclaimer {
  margin-top: 15px;
}