@import "../../styles/button.scss";

.wrapper {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
  padding: 15px 0;
  border-radius: 5px;
  border: 1px solid lightgray;
  text-align: center;
  .circle {
    margin-top: auto;
    margin-bottom: 10px;
    background-color: var(--color_primary50);
    border-radius: 50px;
    border: 1px solid var(--color_primary);
    padding: 10px;
    i {
      font-size: 36px;
      color: var(--color_primary);
    }
  }
  .complete {
    font-weight: bold;
    font-size: 20px;
  }
  .actions {
    display: flex;
  }
  button {
      margin: 10px 5px 0 5px;
  }
  span {
      font-size: 14px;
  }
  a {
    color: var(--color_primary);
    text-decoration: underline;
  }
  .footer {
    margin-top: auto;    
    font-size: 14px;
    font-weight: normal;
  }
}
