.title {
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  div {
    font-weight: normal;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
  div {
    width: 48%;
    input {
      width: 100%;
      border-radius: 5px;
      border: 1px solid var(--color_primary);
      height: 36px;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 15px;
      &::placeholder {
        color: var(--color_text_input_hints);
      }
    }
    .readOnly {
      opacity: 0.6;
      cursor: default;
    }
    span {
      display: inline-block;      
      color: #e5424d;
    }
    &>:last-child{
      margin-bottom: 5px;
    }
  }
}
