.title {
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  div {
    font-weight: normal;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0 0;

  div.fieldWrapper {
    width: 48%;
    margin-bottom: 5px;
  }

  div.inputWrapper {
    display: flex;
    border-radius: 5px;
    border: 1px solid var(--color_primary);
    height: 36px;
    padding: 5px 10px;
    justify-content: space-between;
    align-items: center;

    input {
      width: 100%;
      background-color: transparent;
      border: none;
      padding: 0;
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::placeholder {
        color: var(--color_text_input_hints);
        font-size: 16px;
      }

      &:focus-visible {
        outline: none;
      }
    }

    .readOnly {
      opacity: 0.6;
      cursor: default;
    }
  }

  div.fieldError {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #e5424d;
    font-size: 14px;
    line-height: 1.5;

    &::before {
      font-family: FontAwesome;
      content: '\f071';
      margin-right: 5px;
    }
  }

  .companies {
    > div {
      position: relative;
      width: 100%;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 15px;

      &::placeholder {
        color: var(--color_text_input_hints);
      }

      > div {
        height: 100%;
        width: 100%;

        > div {
          height: 36px;
          padding: 0px;
          border: 1px solid var(--color_primary);
          box-shadow: 0 0 1px var(--color_primary);

          > div {
            height: 36px;
          }
        }

        > span + div + div {
          height: auto !important;
          max-height: 120px !important;
          overflow: auto !important;

          > div {
            height: auto !important;
          }
        }
      }

      input {
        padding: 5px 10px;
        border: 1px solid var(--color_primary);
        padding-right: 0px !important;
        background-color: transparent;
      }

      i {
        right: 10px !important;
      }
    }
  }
}

.moreInfo {
  display: inline-block;
  margin-top: 10px;
}

.moreInfoTooltip {
  max-width: 280px;
}

.ticketQuantityNotice {
  margin: 10px 0 0 !important;
}

.formErrors {
  margin-top: 10px;

  div + div {
    margin-top: 10px;
  }
}
