.placeholder {
  border-radius: 5px;
  width: 100%;
  border: 1px solid var(--color_input_border_color);
  background-color: var(--color_input_background_color);
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
  i {
    padding: 2px 5px;
    border-left: 1px solid var(--color_primary);
  }
  .selectedTicket {
    flex: 1;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.inPersonDisclaimer {
  padding: 4px;
}

.dropdown {
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;  
  border: 1px solid var(--color_input_border_color);
  color: var(--color_input_text_color);
  background-color: var(--color_input_background_color);
  cursor: pointer;
  div {
    padding: 5px;
    &:hover {
      border-radius: 5px;
      background-color: var(--color_primary50);
      color: var(--color_input_text_color);
    }
  }
}

.soldOut {
  &,
  &:hover,
  &:focus {
    color: inherit !important;
    background-color: #dedede !important;
    opacity: 0.65;
    cursor: not-allowed;
  }
}
