.loginWrapper {
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  padding: 20px 0 30px;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  span {
    margin: 10px 0;
  }
}

.button {
  padding: 10px 30px;
  background-color: red;
  color: white;
  font-weight: normal;
  display: inline-flex;
  justify-content: center;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  background-position: 28px center;
  background-repeat: no-repeat;
  background-size: 16px;
  line-height: 1.4;
}

.loginCode {
  margin-bottom: 10px;
  font-size: 16px;
  > div {
    margin-top: 10px;
  }
  span {
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    color: #e5424d;
  }
}

.input {
  display: flex;
  height: 40px;
  margin-top: 5px;
  input {
    border: 1px solid var(--color_primary);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    &::placeholder {
      color: var(--color_text_input_hints);
    }
  }
  button {
    margin-left: 5px;
    background-color: var(--color_secondary_contrast);
    padding: 0px 15px;
    border: 1px solid var(--color_secondary_contrast);
    color: #fff;
    box-shadow: none;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
