.loginWrapper {
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  padding: 20px 0 30px;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  span {
    margin: 10px 0;
  }
}

.button {
  padding: 10px 30px;
  font-weight: normal;
  display: inline-flex;
  justify-content: center;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  background-position: 12px center;
  background-repeat: no-repeat;
  background-size: 16px;
  line-height: 1.4;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  &:hover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  }
}

.title {
  padding: 15px 0 0 0;
}

.loginCode {
  margin-bottom: 10px;
  font-size: 15px;
  > div {
    margin-top: 10px;
  }
  span {
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
  }
  .error {
    color: #e5424d;
    font-size: 14px;
    font-weight: bold;
  }
}

.primaryEmailButton {
  background-color: var(--color_input_background_color);
  border: 1px solid var(--color_input_border_color);
  color: var(--color_input_text_color);
}

.buttonDisabled {
  background-color: var(--color_secondary_contrast);
  color: var(--color_input_text_color_disabled);
}

.pointerDisabled {
  pointer-events: none;
}

.email_login_button {
  display: flex;
  justify-content: space-between;
  padding: 10px 9px;
  width: 100%;
  span {
    padding: 0 0 0 8px;
    margin: 0;
  }
}

.h2Styled {
  color: var(--color_gray_darker) !important;
  font-size: 18px !important;
  font-weight: 800 !important;
  display: flex;
  flex-direction: row;

  &::before, &::after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid var(--color_gray_dark);
    margin: auto;
  }
  &::before {
    margin-right: 10px
  }
  &::after {
    margin-left: 10px
  }
}

.input {
  display: flex;
  height: 40px;
  margin-top: 5px;
  input {
    border: 1px solid var(--color_input_border_color);
    color: var(--color_input_text_color);
    background-color: var(--color_input_background_color);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    &::placeholder {
      color: var(--color_text_input_hints);
    }
  }
  button {
    margin-left: 5px;
    background-color: var(--color_input_background_color);
    padding: 0px 15px;
    border: 1px solid var(--color_input_border_color);
    color: var(--color_text_dark);
    box-shadow: none;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
