.outerWrapper {
  padding: 10px 0px 10px 10px;
  margin: 10px;

  .innerWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 14px;
      }
      .registration {
          cursor: pointer;
          color: var(--color_primary);
          text-decoration: underline;
      }
      
      .actions {
          display: flex;          
          button {
              margin-left: 10px;
          }
      }
  }
}
