.outerWrapper {
  padding: 10px 0px 10px 10px;
  margin: 10px;

  .innerWrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .registration {
          font-size: 12px;
          cursor: pointer;
          color: #D74D4F;
          text-decoration: underline;
      }
      
      .buttons {
          display: flex;          
          button {
              margin-left: 10px;
          }
      }
  }
}
