.title {
  font-weight: bold;
  cursor: pointer;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
  div.fieldWrapper {
    width: 48%;
    border-radius: 5px;
    color: var(--color_input_text_color);
    border: 1px solid var(--color_input_border_color);
    background-color: var(--color_input_background_color);
    height: 36px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    &:first-of-type {
      width: 100%;
    }
    input {
      width: 100%;
      background-color: transparent;
      border: none;
      &:focus-visible {
        outline: none;
      }
    }
    i {
      position: relative;
    }
    > div {
      width: 100%;

      &:first-of-type {
        width: 95%;
      }
    }
  }
  input {
    width: 48%;
    border-radius: 5px;
    color: var(--color_input_text_color);
    border: 1px solid var(--color_input_border_color);
    background-color: var(--color_input_background_color);
    font-size: 16px;    
    height: 36px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-weight: bold;

    &::placeholder {
      color: var(--color_text_input_hints);
    }
  }
}
